<!DOCTYPE HTML>
<html lang xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <header th:insert="visas/header :: header"></header>
</div>
<main>
    <section>
        <h3>Моя заявка: </h3>
        <br /><br />
        <section id="contact-form1">
            <h4>Выберите гражданство: </h4>
            <input name="nationalityMethod" type="radio" value="nationality1"/>
            Гражданство Россия<br />
            <input name="nationalityMethod" type="radio" value="nationality2"/>
            Другое гражданство<br />
            <select name="nationality" multiple="multiple" >
                <option value="az">Азербайджан</option>
                <option value="kaz">Казахстан</option>
                <option value="uzb">Узбекистан</option>
                <option value="uk">Украина</option>
            </select>
        </section>

        <section id="contact-form">
            <h4>Страна, куда требуется виза: </h4>
            <input name="italy" type="checkbox" />Италия<br />
            <input name="spain" type="checkbox" />Испания<br />
            <input name="germany" type="checkbox" />Германия<br />
            <input name="finland" type="checkbox" />Финляндия<br />
            <input name="usa" type="checkbox" />США<br />
            <input name="canada" type="checkbox" />Канада<br />
            <input name="japan" type="checkbox" />Япония<br />
            <input name="switzerland" type="checkbox" />Швейцария<br />
            <input name="france" type="checkbox" />Франция<br />
        </section>

        <section id="data-tour">
            <h4>Выберите даты предполагаемой поездки: </h4>
            Выберите дату начала предполагаемой поездки: <input type="date" /><br />
            Выберите дату окончания предполагаемой поездки: <input type="date" /><br />
            <br /><br />
            <br /><br />
        </section>
        <br /><br />
    </section>
    <input type="submit" id="button-form" value="Оставить заявку" /><br />
</main>
</body>
</html>